h2{
    color:purple;
    background-color: orange;
    font-size: 40px;
}

#number-3 {
    color: yellow;
    font-size: 40px;
    background-color: purple;
}

h3{
    font-size: 30px;
}
.number-2 {
    color: black;
    background-color: silver;
    font-size: 40px;
}